.box{
    width: 400px ;
    border: 2px solid blue;
    height: 400px;
    overflow: auto;
    margin-bottom: 100px;
}
.ellipsis{
    width: 200px;
    border: 1px solid red;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-bottom: 50px;
}
.container , .inner{
    width: 200px;
    height: 200px;
    text-align: center;
    
}
.inner{
    border: 3px solid blue;
    background-color: brown;
    /* transform: scale(0.75); */
    /* transform: rotate(180deg); */
    /* transform: rotate3d(0deg); */
}
.inner:hover{
    transform: rotate(45deg
    );
}
.container{
    border: 2px solid red;
    background-color: aqua;
}